* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  padding-left: 10px;
  margin:0;
}

li {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
  padding: 0px;
  margin: 0px;
  background: none;
}

#app {
  display: flex;
  height: 100vh;
}

.sidebar {
  font-size: 14px;
  order: 1;
  width: 20%;
  min-width: 250px;
  padding: 1em;
  background: #f5f4f1;
}

.post__header {
  display:flex;
  font-size: 18px;
  justify-content: space-between;
  min-height: 27px;
  margin-bottom: 5px;
  padding-left: 5px;
}

.post__row {
  list-style-type: none;
}

.post__row__items {
  display:flex;
  justify-content: space-between;
  min-height: 27px;
  margin-bottom: 5px;
  color: #cccbc7;
}

.post__row__items--textbox {
  display: flex;
  width: 75%;
  overflow: hidden;
  align-items: center;
}

.post__row__items--buttonbox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width:25%;
  text-align: right;
}

.post__button--toggle {
  display:flex;
  justify-content: center;
  align-items: center;
  width:20px;
  height:20px;
}

.post__button--add {
  display:flex;
  align-items: center;
  width:20px;
  height:20px;
  margin: 0 2.5px;
}

.post__button--delete {
  display:flex;
  align-items: center;
  width:20px;
  height:20px;
  margin: 0 2.5px;
}

.far, .fas{
  color: #cccbc7;
  font-size: 20px;
}

.content {
  order: 2;
  width: 80%;
  display: flex;
  justify-content: space-around;
  padding-top: 10%;
  overflow:auto;
  overflow-y:hidden"

}

.editor {
  width: 60%;
}

.editor__title {
  width: 100%;
  font-size: 38px;
  display: block;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

.editor__content {
  width: 100%;
  height: 70%;
  outline: none;
}