* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  padding: 0;
}


button {
  border: none;
  outline: none;
  padding: 0px;
  margin: 0px;
  background: none;
}

#app {
  display: flex;
  height: 100vh;
}

.sidebar {
  order: 1;
  width: 20%;
  min-width: 260px;
  padding: 1em 0;
  background: #f5f4f1;
}

.post__header {
  display:flex;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  min-height: 27px;
  margin-bottom: 5px;
  padding: 0 10px;
}

.post__row {
  font-size: 14px;
  list-style-type: none;
}

.post__row__items {
  width:inherit;
  display:flex;
  padding: 0 10px;
  justify-content: space-between;
  min-height: 27px;
  margin-bottom: 5px;
  color: #cccbc7;
  cursor:pointer;
}

.post__row__items:hover {
  background: rgba(55, 53, 47, 0.08);
  color:black;
}

.post__row__items--textbox {
  display: flex;
  width: 75%;
  overflow: hidden;
  align-items: center;
}

.post__text {
  margin-left: 2px;
}

.post__row__items--buttonbox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width:25%;
  text-align: right;
}

.post__button--toggle,
.post__button--add,
.post__button--delete {
  display:flex;
  justify-content: center;
  align-items: center;
  width:20px;
  height:20px;
  cursor:pointer;
  color: #cccbc7;
  font-size: 20px;
  transition: transform 200ms ease-in;
}

.post__button--toggle:hover {
  border: solid 1px #cccbc7;
  border-radius: 2px;
  color:black;
}

.post__button--add:hover,
.post__button--delete:hover {
  color:black;
  transform: scale(1.1);
}

.content {
  order: 2;
  width: 80%;
  display: flex;
  justify-content: space-around;
  padding-top: 10%;
  overflow:auto;
  overflow-y:hidden"

}

.editor {
  width: 60%;
}

.editor__title {
  width: 100%;
  font-size: 38px;
  display: block;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

.editor__content {
  width: 100%;
  height: 70%;
  outline: none;
}